<div class="container-fluid">
    <div class="row header-container">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 pad0">
            <a href="/" class="movieapp-logo">
                <i class="fa fa-film" aria-hidden="true"></i> Movie App</a>
        </div>
        <div class="hidden-xs col-sm-9 col-md-10 col-lg-10 pad0">
            <div class="header-right">

            </div>
        </div>
    </div>

    <div class="movie-info-container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="sel-movie-poster">
                                    <img src="./assets/images/movie-covers/{{selectedMovie.img}}" > 
                                </div>
                            </div>

                            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-8 col-md-8 col-lg-8">
                                <div class="sel-movie-info">
                                    <p class="sel-movie-title">{{selectedMovie.name}}</p>
                                    <p class="sel-movie-genres color-fountain-blue">{{formatGenres(selectedMovie.genres)}}</p>
    
                                    <p>
                                        <span class="color-fountain-blue pr-10"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                        <span class="fweight100 fs12">{{selectedMovie.length}}</span>
                                    </p>

                                    <div class="sel-movie-rating" [ngClass]="{ 'bg-cinnabar' : convertToNumber(selectedMovie.rate) >=7,  'bg-fuel-yellow' : convertToNumber(selectedMovie.rate) <= 7}">{{selectedMovie.rate}}</div>
    
                                    <p>
                                        <span class="color-fountain-blue">Storyline:</span>
                                        <span class="fweight100 fs12">{{selectedMovie.description}}</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <p class="similar-movie-label">Similar Movies <span class="see-all-label color-fountain-blue" (click)="goToList()">See all ></span></p>
                    </div>
                </div>
                <div class="row similar-movies-cont">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3" *ngFor="let movie of similarMovies" (click)="selectMovie(movie.id)">
                        <div class="movie-container">
                            <div class="movie-poster">
                                <img src="./assets/images/movie-covers/{{movie.img}}" > 
                                <div class="movie-rating" [ngClass]="{ 'bg-cinnabar' : convertToNumber(movie.rate) >=7,  'bg-fuel-yellow' : convertToNumber(movie.rate) <= 7}">
                                    {{movie.rate}}
                                </div>     
                            </div>
                            <p class="movie-title" title="{{movie.name}}">{{movie.name}}</p>
                            <p class="movie-genres">{{formatGenres(movie.genres)}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>