<div class="container-fluid">
    <div class="row header-container">
        <div class="col-sm-3 col-md-2 col-lg-2 pad0">
            <a href="/" class="movieapp-logo">
                <i class="fa fa-film" aria-hidden="true"></i> Movie App</a>
        </div>
        <div class="col-sm-9 col-md-10 col-lg-10 pad0">
            <div class="header-searchbox">  
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-filter filter-btn" aria-hidden="true" *ngIf="selectedGenre == ''"></i>
                            <span *ngIf="selectedGenre != ''">{{formatGenre(selectedGenre)}}</span>
                    </button>
                    <ul class="dropdown-menu genre-container" aria-labelledby="dropdownMenu1">
                        <li *ngFor="let genre of movieGenres" class="genre-label" (click) = "selectGenre(genre)">{{formatGenre(genre)}}</li>
                        <li class="genre-label" (click)="selectGenre('')">Clear Filter</li>
                    </ul>
                </div>
                <div class="search-icon-container">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="search-box-container">
                    <input type="text" placeholder="Search movies" [(ngModel)]="searchMovie" (input)="filterMovies(searchMovie)">
                </div>
            </div>
        </div>
    </div>

    <div class="movie-listing-container">
        <div class="row">
            <a class="col-xs-12 col-sm-3 col-md-2 col-lg-2" *ngFor="let movie of movieList | genrefilter : 'genres' : selectedGenre" [routerLink]="['/view', movie.id]">
                <div class="movie-container">
                    <div class="movie-poster">
                        <img src="./assets/images/movie-covers/{{movie.img}}" /> 
                        <div class="movie-rating" [ngClass]="{ 'bg-cinnabar' : convertToNumber(movie.rate) >=7,  'bg-fuel-yellow' : convertToNumber(movie.rate) <= 7}">
                            {{movie.rate}}
                        </div>     
                    </div>
                    <p class="movie-title" title="{{movie.name}}">{{movie.name}}</p>
                    <p class="movie-genres">{{formatGenres(movie.genres)}}</p>
                </div>
            </a>
        </div>
    </div>

</div>
