$shark: #1b2025;
$cinnabar: #E74749;
$fuel-yellow: #f3a329;
$fountain-blue: #4cc4c2;

body{ background: $shark; }

.fs12{ font-size: 12px; }
.fweight100{ font-weight: 100; }

.pad0{ padding: 0; }
.pr-10{ padding-right: 10px;}

.color-fountain-blue{ color: $fountain-blue; }
.bg-cinnabar{ background: $cinnabar; }
.bg-fuel-yellow{ background: $fuel-yellow; }